:root {
    --color-primary: #b90504;
    --color-primary-accent: #990100;
    --color-secondary: #E8E8E8;
    --color-secondary-accent: #F6F6F6;
    --color-secondary-dark: #333333;
    --font-primary: 'Righteous', cursive;
}

body {
    font-family: var(--font-primary);
}

.icon {
    color: var(--color-primary-accent);
    padding: 0.75rem;
}

.navbar {
    width: 100%;
}

ul.navbar-nav {
    width: 100%;
    justify-content: flex-end;
}

nav.navbar-bg {
    background-color: var(--color-secondary);
}

.container {
    background: var(--color-secondary-accent);
}


ul.navbar-nav > li.nav-item > a.nav-link.nav-item.nav-item-style {
    color: var(--color-secondary-dark);
    font-size: 1.6rem;
    padding: 0.80rem;
}

#navbarDropdownMenuLink {
    display: flex;
    justify-content: flex-end;
}

.hero-container {    
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(5, 1fr);
    margin-top: 2rem;
    background: var(--color-primary);
    height: 75vh;
    width: 100%;
    clip-path: polygon(0% 0%,100% 0%,100% 100%,0% 80%);
}

h1 {
    grid-column-start: 3;
    justify-self: center;
    display: inline;
    margin-top: 2rem;
    font-size: 3.5rem;
    color: var(--color-secondary);
}

.hero-container > p {
    color: var(--color-secondary-accent);
    grid-column-start: 3;
    grid-row-start: 2;
    font-size: 2rem;
    margin-left: 1.5rem;
}

#ozark {
    grid-column-start: 2;
    grid-row-start: 2;
    justify-self: end;
    border-radius: 50%;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    height: 12rem;
    width: 12rem;
    object-fit: cover;
    object-position: top;
}